{% extends "meme_app/layout.html" %} {% block content %}

<!-- page to list all the memes after you added or removed any memes. -->

<!--Make it bordered  -->
<table class="table table-bordered table-dark">

    <thead class="border-bottom">
        <tr>
            <a style="margin-left: 45em;" href="{% url 'memes_insert' %}" class="btn btn-outline-success">

                <i class="fas fa-plus">Add Memes</i>

            </a>
        </tr>
    </thead>

    <tbody>

        {% for m in memes_List %}
        <td>
            <!-- delete id when deploying -->
            <!-- <tr>
                <h5>id:{{m.id}} &nbsp;</h5>                 
            </tr> -->
            <tr>
                <h2>{{m.id}}.{{m.caption}} &nbsp;  </h2>
            </tr>
            <tr>
                <h5>posted by:{{m.name}}&nbsp;</h5>
            </tr>
            <img src="{{m.url}}" style="width: 350px; height: 200px; margin-bottom: 45px" />
            <tr>
                <a href="{% url 'memes_update' m.id %}" class="btn text secondary px-0">
                    <i class="far fa-edit fa-lg" style="margin-left: 260px; "></i>
                </a>
                <form action="{% url 'memes_delete' m.id %}" method="post" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn">
                        <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                    </button>

                </form>
            </tr>

        </td>
        {% endfor %}
    </tbody>

</table>

{% endblock content %}